{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}

<form class="" action="/todo/create" method="post">
    
  <input type="text" name="todoText" value=""><br>
  <button>Make ToDo!</button>
</form>